.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}  
imageupload__progress {
    width: 100%;
}


button {
	border-radius: 20px;
	border: 1px solid #ff4848;
	background-color: #ff4848;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 5px
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button:hover{
    background-color: black;
    border-color:black;    
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
button.ghost:hover{
    background-color: black;
    border-color: #000;
}
