.post {
    max-width: 500px; /*limit to how large post can be*/
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px; /* creates space between posts*/
}
.post__image {
    width: 100%;
    object-fit: contain;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header{
    display:flex; /*change into a row*/
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px; /*create space between avatar and username*/
}

.post__commentBox {
    margin-top: 10px;
    display: flex;
}

.post__comments {
    padding: 20px;
}

.post__input {
    flex: 1; /*take up most of the room*/
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/*.post__button {
    flex:0; /* take as little room as possible*/
   /* border: none;
    color:#ff4848;
    background-color: transparent;
    border-top: 1px solid lightgray;
}
*/

.post__button {
    border-radius: 20px;
    flex:0; /* take as little room as possible*/
    border: none;
    background-color: #ff4848;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 5px
}

.post__button:active {
    transform: scale(0.95);
}

.post__button:focus {
    outline: none;
}

.post__button:hover{
    background-color: black;
    border-color:black;    
}

.post__button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}
.post__button.ghost:hover{
    background-color: black;
    border-color: #000;
}

h7{
    color:#ff4848;
display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
