.userPost {
    max-width: 500px; /*limit to how large post can be*/
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px; /* creates space between posts*/
}
.userPost__image {
    width: 100%;
    object-fit: contain;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}

.userPost__text {
    font-weight: normal;
    padding: 20px;
}

.userPost__header{
    display:flex; /*change into a row*/
    align-items: center;
    padding: 20px;
}

.userPost__avatar {
    margin-right: 10px; /*create space between avatar and username*/
}

.userPost__commentBox {
    margin-top: 10px;
    display: flex;
}

.userPost__comments {
    padding: 20px;
}

.userPost__input {
    flex: 1; /*take up most of the room*/
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.userPost__button {
    border-radius: 20px;
    flex:0; /* take as little room as possible*/
    border: none;
	background-color: #ff4848;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 5px
}

.userPost__button:active {
	transform: scale(0.95);
}

.userPost__button:focus {
	outline: none;
}

.userPost__button:hover{
    background-color: black;
    border-color:black;    
}

.userPost__button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.userPost__button.ghost:hover{
    background-color: black;
    border-color: #000;
}

h7{
    color:#ff4848;
display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.userPost_status{
color: white;
border-style: solid;
border-radius: 7px;
padding-right: 3px; 
padding-left: 3px;
padding-bottom: 3px;
padding-top: 3px;
margin-left: 230px;
background-color: green;


}