/* This CSS file handles all styling for the Homepage.js file */

* {
  margin: 0;
}

.homePage {
  background-color: white;
  /* height: 100%; */
}

.homePage__posts {
  padding: 20px;
  justify-content: center;
  display: flex;
}
.homePage__dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 15%;
}
