.resetPassword {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
  /* padding: 50px; */
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.resetPassword > form {
  display: grid;
  flex-direction: column;
}

.resetPassword > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.resetPassword > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.resetPassword__gray {
  color: gray;
}

.resetPassword__link {
  cursor: pointer;
  text-decoration: underline;
}

.resetPassword > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.resetPassword > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  outline-width: 0;
}

.resetPassword > form > button:hover {
  background-color: black;
}
