
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

/* Deals with the display, alignment, font, height and margins of the body of the page*/
body {
	background: #f6f5f7;
	display: grid;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

/* Deals with the font and margins of header one*/
h1 {
	font-weight: bold;
	margin: 0;
}

/* Deals with the alignment of header two*/
h2 {
	text-align: center;
}

/* Deals with the font size of the span*/
span {
	font-size: 12px;
}


footer{
color:grey;
font-size: 12px;
font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
}

