@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 10px;   
}


span {
	font-size: 12px;
}

/* Deals with the border, background colour, font size, amrgina nd letter spacing of the buttons */
button {
	border-radius: 20px;
	border: 2px solid #ff4848;
	background-color: #ff4848;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 45px;
    margin: 10px;
    cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 45px;
  cursor: pointer;
  display: inline-block;
    margin-right: 62px;
    margin-left: 62px;
}

.btn:hover {background: #eee;}

.success {color: black;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
       

/*When button is active do the following*/
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

/*When you hover over the button change the colour of the button to black and have no border*/
button:hover{
    background-color: black;
    border:none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

/*Deals with the background colour, dispaly, alighnment and padding of the form */
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 60px 50px;
	height: 100%;
	text-align: center;
}


/*Deals with the background colour, border, position, height and width of the container*/
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	min-height: 380px;
}

 