/*import fonts from google apis*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

/*style for the document body*/
body {
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

/*style for header 1*/
h1 {
	font-weight: bold;
	margin: 10px;  
    color:black;
}


/*style for the form*/
form {
	background-color: white;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 60px 50px;
	height: 100%;
	text-align: center;
}

/*style for the body's container*/
.container {
	background-color: white;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	min-height: 380px;
}


